<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo" [containerInside]="false">
    <!-- Navbar brand -->
    <!-- <logo>
        <a class="navbar-brand" href="#">
            <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" alt="">
        </a>
    </logo> -->
    <logo><a class="navbar-brand" href="#">Warriors</a></logo>
    <links>
        <nav md-tab-nav-bar class="navbar-nav mr-auto">
            <a md-tab-link
                *ngFor="let routeLink of routeLinks; let i = index;"
                [routerLink]="routeLink.link"
                routerLinkActive="active"
                #rla="routerLinkActive"
                (click)="activeLinkIndex = i"
                [routerLinkActiveOptions]="{exact: true}"
                class="nav-item nav-link waves-light"
                >
                    {{routeLink.label}}
            </a>
        </nav>
    </links>
    <!-- Collapsible content -->
    <!-- Search form -->
    <form class="form-inline waves-light" mdbRippleRadius>
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success btn-sm my-0 waves-light" type="submit" mdbRippleRadius>Search</button>
    </form>
</mdb-navbar>
<router-outlet></router-outlet>
<!--Footer-->
<!-- <footer class="page-footer blue center-on-small-only">
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: Ravi
        </div>
    </div>
</footer> -->
<!--/.Footer-->